services:
  api:
    extra_hosts:
      - "localhost:host-gateway"
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8090:8090"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  redis:
    image: redis:7
    ports:
      - "6389:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  postgres:
    image: postgres:15
    ports:
      - "5442:5432"
    environment:
      POSTGRES_USER: flasS21
      POSTGRES_PASSWORD: flasS@21
      POSTGRES_DB: keystone_auth
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U flasS21 -d keystone_auth"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
  postgres_data:
